@using CascadingParameterInDetail.Models

<div class="bg-success p-5 text-white">
    <h3>Component2 (level 1)</h3>
    <div>Message: @Sample?.Message</div>
    <button type="button" @onclick="OverrideValueAsync">Update Value</button>
    <Component3 />
</div>

@code {
    [CascadingParameter]
    public RootLevelUpdatingModel? Sample { get; set; }

    public async Task OverrideValueAsync()
    {
        if (Sample is not null && Sample.Source is not null)
        {
            Sample.Message = "Overridden from Component2";
            await Sample.Source.NotifyChangedAsync();
        }
    }
}