@using CascadingParameterInDetail.Models

<div class="bg-primary p-5 text-white">
    <h3>Component1 (level 0)</h3>
    <div>Message: @Sample?.Message</div>
    <Component2 />
</div>

@code {
    [CascadingParameter]
    public RootLevelNotifyingModel? Sample { get; set; }
}