@inject BlazorSchoolTransferService BlazorSchoolTransferService

<div class="bg-success p-5">
    <h3>Component5 (level 1)</h3>
    <div>@BlazorSchoolTransferService.HelloMessage</div>
    <Component6 />
</div>