@inject BlazorSchoolTransferService BlazorSchoolTransferService

<div class="bg-success p-5">
    <h3>Component2 (level 1)</h3>
    <div>@BlazorSchoolTransferService.HelloMessage</div>
    <Component3 />
</div>