@inject BlazorSchoolTransferService BlazorSchoolTransferService

<div class="bg-primary p-5">
    <h3>Component4 (level 0)</h3>
    <div>@BlazorSchoolTransferService.HelloMessage</div>
    <Component5 />
</div>