<div class="bg-primary p-5">
    <h3>Component1 (level 0)</h3>
    <CascadingValue Value="HelloMessage">
        <Component2 PersonName="@PersonName" />
    </CascadingValue>
</div>

@code {
    public string HelloMessage { get; set; } = "Hello Blazor School!";
    public string PersonName { get; set; } = "John Doe";
}
