<div class="bg-primary p-5">
    <h3>Parent</h3>
    <div>Value1: @ParentValue1</div>
    <div>Value2: @ParentValue2</div>
    <div>Value3: @ParentValue3</div>
    <Child Value1="ParentValue1" Value2="ParentValue2" Value3="ParentValue3" ComponentUpdated="OnComponentChanged" />
</div>

@code {
    public int ParentValue1 { get; set; } = 0;
    public int ParentValue2 { get; set; } = 0;
    public int ParentValue3 { get; set; } = 0;

    public void OnComponentChanged(ChildComponentChangeArgument argument)
    {
        ParentValue1 = argument.Value1;
        ParentValue2 = argument.Value2;
        ParentValue3 = argument.Value3;
    }
}