@page "/manual-render"

<label>
    Give me a string
    <InputText @bind-Value="Text" />
</label>
<label>
    Manual Render?
    <InputCheckbox @bind-Value="ManualRender" />
</label>

<div>Your string: @Text</div>

@code {
    public string Text { get; set; } = "";
    public bool ManualRender { get; set; } = true;

    protected override bool ShouldRender()
    {
        return !ManualRender;
    }
}
