@page "/manual-render"

<label>
    Give me a string
    <input type="text" @bind-value="Text" @bind-value:event="oninput" />
</label>

<div>Your string: @Text</div>

@code {
    public string Text { get; set; } = "";

    protected override bool ShouldRender()
    {
        return Text.Length > 3;
    }
}
