@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

<p>Demonstrate lifecycle methods in Blazor WebAssembly Standalone .NET 9 - Blazor School</p>
<p>For additional tutorials on Blazor WebAssembly, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>
