@page "/parameters-set"
@using LifecycleMethods.Components
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

Current Url: @NavigationManager.Uri
<div>
    <SampleComponent2 ComponentParameter="@Parameter" />
    <button @onclick="() => Parameter = RandomString()">Update ComponentParameter</button>
</div>
<div>
    <div>Url Parameter: @UrlParameter</div>
    <a href="/parameters-set?UrlParameter=@RandomString()">Update UrlParameter</a>
</div>

@code {
    public string Parameter { get; set; } = "";
    private Random _random = new Random();

    [Parameter]
    [SupplyParameterFromQuery]
    public string? UrlParameter { get; set; } = "";

    protected override void OnParametersSet()
    {
        JSRuntime.InvokeVoidAsync("alert", "ParametersSet called in PARENT component.");
    }

    private string RandomString()
    {
        const string chars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";

        return new string(Enumerable.Repeat(chars, 5).Select(s => s[_random.Next(s.Length)]).ToArray());
    }
}