@page "/set-parameters"
@inject IJSRuntime JSRuntime

<h3>SetParametersStage</h3>

@code {
    public async Task CustomLifecycleMethodAsync()
    {
        await JSRuntime.InvokeVoidAsync("alert", "This is a custom lifecycle method");
    }

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("alert", "OnInitializedAsync stage called");
    }

    protected override void OnParametersSet()
    {
        JSRuntime.InvokeVoidAsync("alert", "OnParametersSet stage called");
    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        // To enable initialize and parameter set stages, uncomment the following line
        // await base.SetParametersAsync(parameters);

        // Because we skipped the base method, we need to manually set the parameters and update the UI
        parameters.SetParameterProperties(this);
        StateHasChanged();

        await CustomLifecycleMethodAsync();
    }
}
