@inject BlazorSchoolTransferService TransferService
@implements IDisposable

<div class="bg-success p-5">
    <h3>Component2</h3>
    <div>Value: @TransferService.Message</div>
    <button type="button" @onclick="ChangeValue">Change Value</button>
    <Component3 />
</div>

@code {
    protected override void OnInitialized()
    {
        TransferService.MessageChanged += OnTransferServiceChanged;
    }

    public void OnTransferServiceChanged(object? sender, EventArgs e)
    {
        StateHasChanged();
    }

    public void ChangeValue()
    {
        var random = new Random();
        TransferService.Message = "Message updated from Component2";
        TransferService.NotifyChanged();
    }

    public void Dispose()
    {
        TransferService.MessageChanged -= OnTransferServiceChanged;
    }
}
