<div class="bg-primary p-5">
    <h3>Component1 (level 0)</h3>
    <div>@PersonName:</div>
    <Component2 />
</div>

@code {
    [CascadingParameter(Name = "CurrentUserName")]
    public string PersonName { get; set; } = "";
}
