<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">RazorComponentRendering</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basic-render">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Basic Render
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="render-with-attribute">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Render with Attribute
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manual-render">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Manual Render
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="self-render-demonstrate">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Self Render
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
