@page "/prevent-default-demonstrate"

<label>
    <input type="checkbox" @onclick="_ => showMessage = true" @onclick:preventDefault />
    @if (showMessage)
    {
        <span>The checkbox can't be checked because the <code>onclick</code> event was cancelled with <code>@@onclick:preventDefault</code> keyword.</span>
    }
    else
    {
        <span>Click the checkbox</span>
    }
</label>


@code {
    private bool showMessage = false;
}
