@page "/scoped-style"

<span class="scoped">The "scoped" CSS class is isolated to this component. Even if another component defines a class with the same name, it won’t interfere with or override the styles used here.</span>