@page "/cascading-parameter-root-level-example"
@using SingleSourceOfTruth.Components.CascadingParameterRootLevel

<div class="text-white row">
    <div class="col-6">
        <Component1 />
    </div>
    <div class="col-6">
        <Component4 />
    </div>
</div>

@code {

}
