@page "/transfer-service-example"
@using SingleSourceOfTruth.Components.TransferService

<div class="text-white row">
    <div class="col-6">
        <Component1 />
    </div>
    <div class="col-6">
        <Component4 />
    </div>
</div>