<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ComponentCommunication</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basic-tree-example" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Basic Tree Example
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simple-parent-child-communication" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Parent Child Communication (Simple)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bad-complex-parent-child-communication" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Parent Child Communication (Complex - Bad Practice)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="good-complex-parent-child-communication" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Parent Child Communication (Complex - Good Practice)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simple-same-components-level-communication" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Same Level Communication (Simple)
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
