<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EventHandling</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handle-html-events">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Handle HTML events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handle-blazor-events">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Handle Blazor events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prevent-default-demonstrate">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cancel HTML event
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stop-propagation-demonstrate">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Propagation prevention
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
